.form-container {
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.row {
    background-color: white;
    color: #101110;
}

.user-input {
    display: block;
    width: 300px;
    border-radius: 8px;
    border: 1px solid grey;
    font-size: 18px;

    padding-left: 10px;
    border: 2.8px solid darkgreen;
}

.login-button {
    font-size: 20px;
    border-radius: 0px;
    width: 200px;
    color: white;
    cursor: pointer;
    margin: 10px;
    font-weight: 500;
    font-size: 22px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffccd9;
    color:#101110;
}


.sticker {
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-wel {
    height: 6rem;
    animation: bounce;
    animation-duration: 2s;
}

.my-elemen {
    font-weight: 540;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orangered;
    animation: bounce;
    animation-duration: 2s;
}

.lbl-1 {
    font-size: 18px;
    font-family: sans-serif;
    color: black;
    margin-top: 1.8rem;
}

.login-left-row-heading {
    color: black;
    font-family: sans-serif;
}

.description-left-row-log {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.overligh {
    color: orangered;
    font-weight: bold;
}

.image-log-leftrow {
    height: 330px;
}

.not-signup-btn-container{
    margin-top: 1.5rem;
}
.notac{
    color: orangered;
    font-weight: 500;
    border: none;
}
.not-signup-btn{
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: none;
}


