.pdf-item-card {
  margin: 5px;
  margin-bottom: 10px;
  margin-top: 2rem;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  width: 300px;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 10px 14px 15px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
}

.pdf-item-card-header-img {
  width: 200px;
  height: 200px;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.pdf-item-card-header-img:hover {
  filter: blur(2px);
  cursor: pointer;
}

.btn-view-pdf {
  background-color: orangered;
  border: black;
  font-size: 20px;
  padding: 5px;
  width: 180px;
  border-radius: 2rem;
  margin: 10px;
  border: 2px double white;
  box-shadow: 0 0 2px 0 black;
}

.btn-view-pdf:hover {
  color: white;
}